<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Nous contacter</h4>
        <ul>
          <li>Téléphone: 01 23 45 67 89</li>
          <li>Email: contact@eldihia.fr</li>
          <li>Adresse: 30 lotissement dauphin,Alger </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Liens rapides</h4>
        <ul>
          <li><a routerLink="/">Accueil</a></li>
          <li><a routerLink="/produits">Nos Produits</a></li>
          <li><a routerLink="/contact">Contactez-nous</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Restez connectés</h4>
        <p>Suivez-nous sur les réseaux sociaux pour rester à jour avec nos dernières collections et offres spéciales.</p>
        <div class="social-icons">
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
