.navbar {
  height: 100px; /* Modifiez la hauteur selon vos besoins */
}
.navbar li.nav-item {
  font-family: 'Georgia', serif; /* Changer la police selon vos besoins */
  font-size: 23px; /* Modifiez la taille de la police selon vos besoins */
  margin-right: 10px;
  margin-bottom: -15px;
}
a.nav-link{
  color: black;
}
.example-icon{
  margin-top: -10px;
}
.navbar-brand {
  padding: 0; /* Supprimez la marge interne autour du logo */
}
.navbar-brand img {
  max-height: 50px; /* Limitez la hauteur maximale de l'image à 100% de la hauteur de la barre de navigation */
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
