<div class="product-box">
    <div class="product-detail">
        <img [src]="product?.image" alt="{{ product?.name }}" class="product-image">
        <div class="product-info">
            <h2>{{ product?.name }}</h2>
            <ul>
                <li><strong>Prix :</strong> {{ product?.price | currency:'EUR' }}</li>
                <li><strong>Taille :</strong> {{ product?.size }}</li>
                <li><strong>Couleur :</strong> {{ product?.color }}</li>
                <li>
                    <button mat-icon-button *ngIf="!isFavorite" (click)="addToFavorite()">
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="isFavorite" (click)="removeFromFavorite()">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
        <div class="product-actions">
            <button (click)="addToCart()" class="add-to-cart">
                Ajouter au panier
            </button>
        </div>
    </div>
    <div class="product-detail">

    <div *ngIf="reviews.length > 0">
        <h3>Commentaires :</h3>
        <ul>
            <li *ngFor="let review of reviews" class="comment-box">
                <p>{{ review?.username }} - {{ review?.rating }}/5 - {{ review?.comment }}</p>
            </li>
        </ul>
    </div>
    <form [formGroup]="reviewForm">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" />

        <label for="rating">Rating:</label>
        <input type="number" id="rating" formControlName="rating" />

        <label for="comment">Comment:</label>
        <textarea id="comment" formControlName="comment"></textarea>

        <button type="button" (click)="addReview()">Ajouter un commentaire</button>
    </form>
    </div>
</div>
