/* admin.component.scss */

.admin-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.admin-product-image {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}
