<div class="category-grid">
  <div class="category-card type1">
    <a [routerLink]="['/category', 'type1']">
      <h2>Kabyle</h2>
    </a>
  </div>
  <div class="category-card type2">
    <a [routerLink]="['/category', 'type2']">
      <h2>Caftan</h2>
    </a>
  </div>
  <div class="category-card type3">
    <a [routerLink]="['/category', 'type3']">
      <h2>Chaoui</h2>
    </a>
  </div>
  <div class="category-card type4">
    <a [routerLink]="['/category', 'type4']">
      <h2>Karakou</h2>
    </a>
  </div>
</div>
