<div class="box-login">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Liste des Favoris
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="favoriteItems && favoriteItems.length > 0 else emptyFavorite">
                <div class="cards-container">
                    <div class="cards" *ngFor="let favoris of favoriteItems">
                        <mat-card class="card-item">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>{{ favoris.name }}</mat-card-title>
                                <mat-card-subtitle>{{ favoris.price | currency:'EUR' }}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image [src]="favoris.image" alt="{{ favoris.name }}">
                            <mat-card-actions>
                                <button mat-icon-button (click)="removeProductFromFavoris(favoris)">
                                    <mat-icon>highlight_off</mat-icon>
                                </button>
                                <button mat-icon-button (click)="addFavToCart(favoris)">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            <ng-template #emptyFavorite>
                <p>Aucun favori pour le moment.</p>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>


</div>


