<div class="container">
  <div class="la-maison">
    <h2>Notre Histoire</h2>
    <p>
      Bienvenue chez El Dihia, une ode à la beauté intemporelle des robes traditionnelles
      algériennes. Fondée en 2018, notre maison s'inspire de la richesse culturelle
      et de l'héritage artistique de l'Algérie pour créer des pièces uniques et élégantes.
    </p>
    <p>
      Chaque robe que nous concevons célèbre l'artisanat et l'authenticité, racontant une histoire
      de traditions transmises de génération en génération. Chez El Dihia, nous croyons
      en la préservation de l'essence même de la robe algérienne tout en y insufflant une touche de
      modernité et d'élégance.
    </p>
    <p>
      Nos collections sont une fusion harmonieuse de couleurs vibrantes, de tissus luxueux et de
      détails exquis, capturant l'âme de la robe traditionnelle algérienne. Chaque création incarne
      la fierté de notre patrimoine et célèbre la diversité de styles présents à travers les régions
      de l'Algérie.
    </p>
    <p>
      Nous nous engageons à promouvoir la durabilité en choisissant des matériaux respectueux de
      l'environnement et en collaborant avec des artisans locaux. Choisir une robe El Dihia, c'est soutenir l'art
      traditionnel tout en embrassant l'élégance contemporaine.
    </p>
    <p>
      Explorez nos créations et découvrez l'histoire et la passion cousues dans chaque robe.
      Merci de rejoindre El Dihia dans la préservation et la célébration de la
      magnifique tradition vestimentaire algérienne.
    </p>
  </div>
</div>
