.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.image_caftan {
  width: 736px;
  height: 474px;
}

.product-card {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: transparent;
  display: inline-block;
  width: 100%;
  margin: 0;
  border: none;
}

.product-card img {
  width: 100%;
  height: auto;
  display: block;
}

.product-details {
  margin-top: 10px;
}

/* Style spécifique pour la première image (index 0) */
.full-width {
  grid-column: span 2; /* Pour occuper deux colonnes de la grille */
  width: 100%;
  margin: 0; /* Supprimez la marge uniquement pour la première carte */
  border: none; /* Supprimez la bordure uniquement pour la première carte */
}

/* Agrandissez la première image pour qu'elle prenne toute la largeur de la page */
.full-width img {
  width: 100%; /* Agrandissez la largeur de l'image pour qu'elle prenne toute la page */
  max-width: none; /* Supprimez la limite de la largeur maximale pour cette image */
}

.custom-font {
  font-family: 'Georgia', serif;
  font-size : larger;
  font-style: oblique;
  font-weight: bold;
}
